.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.delete-todo-button {
  font-size: .5em;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-todo-submit {
  margin: 20px;
  padding: 5px 10px;
}